* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
  }
  a:hover, a:active, a:focus {
    color:rgb(109, 122, 122);
  }
  
  .menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 2% 0;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }

  .login {
    margin-left: 0.2%;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }

  .header {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
 .photo-grid-container {
    display: flex;
    justify-content: center;
    display:none;
  }
  
  .photo-grid {
    width: 100%
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .photo-grid-item {
      margin:1%;
    border: 1% solid #fff; 
	
	justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }

  .main {
    height: 100%; 
    display: flex;
    justify-content: space-between;
  }
  
  .main-item {
    border: 1px solid #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(197, 235, 241);
    height: 100;
    flex: 1;
  }

  .main-one ul{
      margin:2%;
  }

  .main-one h2{
      margin:2%;
  }

  .main-2{
      background:#fff;
      flex:3;
  }

  .main-2 h1{
      background: #fff;
      margin:10px 40%;
      font-size: 5vw;
  }
  .main-two {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 3;
    background-color:#fff;   
  }
@media screen and (max-width:515.71px) {
  .menu-container{
    width:515.71px; 
  }
   .header-container {
     width:fit-content;
}
}
